@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'open_sansregular';
    src: url('../font/opensans-regular/opensans-regular.woff2') format('woff2'),
         url('../font/opensans-regular/opensans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../font/opensans-bold/opensans-bold.woff2') format('woff2'),
         url('../font/opensans-bold/opensans-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'fumd';
    src: url('../font/FuturaMd/FuturaMd.eot');
    src: url('../font/FuturaMd/FuturaMd.eot?#iefix') format('embedded-opentype'),

         url('../font/FuturaMd/FuturaMd.woff') format('woff'),
         url('../font/FuturaMd/FuturaMd.ttf') format('truetype'),
         url('../font/FuturaMd/FuturaMd.svg#fumd') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fuhv';
    src: url('../font/FuturaHv/FuturaHv.eot');
    src: url('../font/FuturaHv/FuturaHv.eot?#iefix') format('embedded-opentype'),

         url('../font/FuturaHv/FuturaHv.woff') format('woff'),
         url('../font/FuturaHv/FuturaHv.ttf') format('truetype'),
         url('../font/FuturaHv/FuturaHv.svg#fuhv') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'mtd';
    src: url('../font/MTD/MTD.eot');
    src: url('../font/MTD/MTD.eot?#iefix') format('embedded-opentype'),
         url('../font/MTD/MTD.woff') format('woff'),
         url('../font/MTD/MTD.ttf') format('truetype'),
         url('../font/MTD/MTD.svg#mtd') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('../font/roboto-regular/roboto-regular.eot');
    src: url('../font/roboto-regular/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-regular/roboto-regular.woff2') format('woff2'),
         url('../font/roboto-regular/roboto-regular.woff') format('woff'),
         url('../font/roboto-regular/roboto-regular.ttf') format('truetype'),
         url('../font/roboto-regular/roboto-regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotocondensed';
    src: url('../font/robotocondensed/robotocondensed-regular.eot');
    src: url('../font/robotocondensed/robotocondensed-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/robotocondensed/robotocondensed-regular.woff') format('woff'),
         url('../font/robotocondensed/robotocondensed-regular.ttf') format('truetype'),
         url('../font/robotocondensed/robotocondensed-regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotobold';
    src: url('../font/roboto-bold/roboto-bold.eot');
    src: url('../font/roboto-bold/roboto-bold.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-bold/roboto-bold.woff2') format('woff2'),
         url('../font/roboto-bold/roboto-bold.woff') format('woff'),
         url('../font/roboto-bold/roboto-bold.ttf') format('truetype'),
         url('../font/roboto-bold/roboto-bold.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../font/roboto_condensedregular/robotocondensed-regular.eot');
    src: url('../font/roboto_condensedregular/robotocondensed-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto_condensedregular/robotocondensed-regular.woff2') format('woff2'),
         url('../font/roboto_condensedregular/robotocondensed-regular.woff') format('woff'),
         url('../font/roboto_condensedregular/robotocondensed-regular.ttf') format('truetype'),
         url('../font/roboto_condensedregular/robotocondensed-regular.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../font/robotocondensed-bold/robotocondensed-bold.woff2') format('woff2'),
         url('../font/robotocondensed-bold/robotocondensed-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
